[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.3"
django-extensions = "==3.2.1"
django-environ = "==0.9.0"
setuptools = "*"
lock = "*"
# DB Packeges
psycopg2-binary = "==2.9.5"
# Async
celery = "==5.4.0"
# Logging
django-db-logger = "==0.1.12"                # Database logging
# Testing
freezegun = "==1.2.2"
model-bakery = "==1.9.0"
markdown = "==3.4.1"
djangorestframework = "==3.14.0"
django-cors-headers = "==3.14.0"
black = "*"
flake8 = "*"
pillow = "==9.5.0"
gunicorn = "==21.2.0"
python-barcode = { extras = ["images"], version = "*" }
django-jazzmin = "==2.6.0"
djangorestframework-simplejwt = "==5.3.1"
django-rest-auth = "==0.9.5"
dj-rest-auth = "==5.1.0"
djoser = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.10.12"
